@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');




body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.score-text {
    font-size: 10rem;

}

#user-score,
#user-choice {
    color: red;
}

#computer-score,
#computer-choice {
    color: blue;
}

.text {
    font-size: 2.5rem;
}

.choices {

    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outcome {
    font-size: 3rem;
}


.buttons {
    margin-top: 50px;
}

.buttons img {
    margin: 0px 20px;
}


.buttons img {
    width: 200px;
    height: 200px;
}


#rock:hover {
    cursor: pointer;
}

#paper:hover {
    cursor: pointer;
}

#scissors:hover {
    cursor: pointer;
}